@import './Header.css';
@import './FlexParent.css';
@import './FlexItems.css';
@import './FlexControls.css';
@import './Footer.css';
@import url('https://fonts.googleapis.com/css?family=Finger+Paint');


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(247, 212, 137, .7);
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
}

.error {
  position: relative;
  top: -15px;
  margin: 15px auto;
  padding: 10px;
  background-color: #b86060;
  color: #fefefe;
}
