.flex-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  height: 500px;
  margin: 20px auto 0 auto;
  padding: 5px;
  background-color: #E8F1F4;
  border: 10px solid #2E5266;
  border-radius: 5px;
  box-shadow: 0px 12px 34px 10px rgba(0,0,0,0.3);
  font-size: 0.8em;
  overflow: auto;
}

.control-list {
  margin: 5px 0;
}

.control-list h3 {
  margin: 3px;
  color: #2E5266;
}

.prop-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-prop {
  margin: 5px;
  color: #2E5266;
}
