.flex-parent {
  margin: 20px 10px 0 0;
  padding: 5px;
  background-color: #E8F1F4;
  border: 10px solid #2E5266;
  border-radius: 5px;
  box-shadow: 0px 12px 34px 10px rgba(0,0,0,0.3);
  height: 500px;
  overflow: scroll;
  width: 70%;
}
