footer {
  margin: 20px 0 0 0;
  padding: 0 0 15px 0;
  background-color: #2E5266;
  border-top: 4px solid #F9A03F;
  text-align: center;
}

.sandbox {
  height: 70px;
  width: 70px;
}

.github-icon {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  opacity: .8;
  transition: all .2s;
}

.github-icon:hover {
  opacity: 1;
}
