.show-code--section {
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  width: 90%;
  height: 85%;
  max-width: 800px;
  max-height: 580px;
  margin: 0 auto;
  color: #FFF;
  background: rgba(0,0,0,0.9);
}

.show-code-header {
  margin: 10px;
}

.html-div,
.css-div {
  margin: 10px 25px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1.2em;
}

.code-wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.toggle--btn {
  float: right;
  margin-top: 10px;
}

pre, code {
  white-space: pre-line;
}

