.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
  height: 100%;
  background-color: rgba(0, 0, 0, .75);
}

.show-code--section {
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  border-radius: 2px;
  margin: 0 auto;
  color: #FFF;
  background: #f8f8f8;
  overflow: auto;
}

.show-code-header {
  position: relative;
  margin: 15px 10px;
  color: rgb(40, 42, 54);
  text-shadow: none;
  padding: 0 0 0 20px;
}

.html-div,
.css-div {
  margin: 10px 25px;
  border-radius: 10px;
  font-size: 1.2em;
}

.code-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toggle--btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: firebrick;
  border-style: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 2;
}

pre, code {
  white-space: pre-line;
  border-radius: 3px;
  overflow: auto;
}